BAT_INFO = "/proc/acpi/battery/BAT0/info"
BAT_STATE = "/proc/acpi/battery/BAT0/state"
TEMPERATURE = "/proc/acpi/thermal_zone/THM0/temperature"
CPUSPEED = "/proc/cpuinfo"
FONT_FACE = "-*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*"
INTERVAL = 5

GMAIL_USER = 'gmailaccount@gmail.com'
GMAIL_PASS = 'yourgmailpassword'
GMAIL_CHECK_INTERVAL = 5	# minutes

